-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: campus
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `allocation_allocate_mentor`
--

DROP TABLE IF EXISTS `allocation_allocate_mentor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_allocate_mentor` (
  `id` int NOT NULL,
  `team_domain` varchar(50) NOT NULL,
  `mentor_domain` varchar(50) DEFAULT NULL,
  `mentor_alt_domains` longtext,
  `mentor_experience` varchar(50) DEFAULT NULL,
  `similarity_score` double NOT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `allocated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_allocate_mentor`
--

LOCK TABLES `allocation_allocate_mentor` WRITE;
/*!40000 ALTER TABLE `allocation_allocate_mentor` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_allocate_mentor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_allocationresult`
--

DROP TABLE IF EXISTS `allocation_allocationresult`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_allocationresult` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_name` varchar(100) NOT NULL,
  `team_domain` varchar(100) NOT NULL,
  `mentor_name` varchar(100) NOT NULL,
  `mentor_domain` varchar(100) NOT NULL,
  `alt_domains` longtext NOT NULL,
  `experience` varchar(50) NOT NULL,
  `similarity_score` double NOT NULL,
  `reason` longtext NOT NULL,
  `allocated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_allocationresult`
--

LOCK TABLES `allocation_allocationresult` WRITE;
/*!40000 ALTER TABLE `allocation_allocationresult` DISABLE KEYS */;
INSERT INTO `allocation_allocationresult` VALUES (4,'Ai Image Processing','AIDS','Suresh Kumar','AIML','','Expert',0.8,'Related expert match','2025-10-13 17:45:06.348793'),(5,'Security Management','CYS','Suriya','CYS','','Expert',1,'Exact expert match','2025-10-14 04:05:32.987289'),(6,'Cloud Management','CD','Gnanavel','BW','','Expert',0.2,'Weak expert match','2025-10-17 06:53:38.063129');
/*!40000 ALTER TABLE `allocation_allocationresult` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_announcement`
--

DROP TABLE IF EXISTS `allocation_announcement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_announcement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `ann_type` varchar(20) NOT NULL,
  `target_role` varchar(20) NOT NULL,
  `deadline_date` date DEFAULT NULL,
  `deadline_time` time(6) DEFAULT NULL,
  `schedule_date` date DEFAULT NULL,
  `schedule_time` time(6) DEFAULT NULL,
  `venue` varchar(200) DEFAULT NULL,
  `created_by_username` varchar(80) NOT NULL,
  `created_by_name` varchar(80) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_announcement`
--

LOCK TABLES `allocation_announcement` WRITE;
/*!40000 ALTER TABLE `allocation_announcement` DISABLE KEYS */;
INSERT INTO `allocation_announcement` VALUES (1,'Zeroth Review','','deadline','student','2025-12-28','12:37:00.000000',NULL,NULL,NULL,'20001','ZZZ','2025-12-26 07:07:31.474015'),(2,'First REeview PPt','','deadline','both','2026-01-31','11:51:00.000000',NULL,NULL,NULL,'20001','ZZZ','2026-01-28 05:21:48.368777');
/*!40000 ALTER TABLE `allocation_announcement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_announcementstatus`
--

DROP TABLE IF EXISTS `allocation_announcementstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_announcementstatus` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `receiver_role` varchar(20) NOT NULL,
  `receiver_id` varchar(80) NOT NULL,
  `receiver_name` varchar(80) NOT NULL,
  `seen_at` datetime(6) DEFAULT NULL,
  `acknowledged_at` datetime(6) DEFAULT NULL,
  `announcement_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `allocation_announcem_announcement_id_b4ef3f5a_fk_allocatio` (`announcement_id`),
  CONSTRAINT `allocation_announcem_announcement_id_b4ef3f5a_fk_allocatio` FOREIGN KEY (`announcement_id`) REFERENCES `allocation_announcement` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_announcementstatus`
--

LOCK TABLES `allocation_announcementstatus` WRITE;
/*!40000 ALTER TABLE `allocation_announcementstatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_announcementstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_approvedteam`
--

DROP TABLE IF EXISTS `allocation_approvedteam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_approvedteam` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `project_title` varchar(200) NOT NULL,
  `student_class` varchar(50) NOT NULL,
  `domain` varchar(100) NOT NULL,
  `members` varchar(300) NOT NULL,
  `member_names` varchar(300) NOT NULL,
  `approved_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_approvedteam`
--

LOCK TABLES `allocation_approvedteam` WRITE;
/*!40000 ALTER TABLE `allocation_approvedteam` DISABLE KEYS */;
INSERT INTO `allocation_approvedteam` VALUES (41,'Security Management','CSE-B','CYS','24UCS212,24UCS205,24UCS203','Omar,Srinithi,Aarthi','2025-10-27 09:27:22.658322'),(42,'Cloud Management','CSE-B','CD','24UCS201,24UCS210,24UCS206,24UCS219','Kavin,Nithya,Vinoth,Gobi','2025-10-27 09:27:22.663647'),(43,'Ai Image Processing','CSE-B','AIDS','24UCS208,24UCS220,24UCS215','Priya,Lakshmi,Meena','2025-10-27 09:27:22.667148');
/*!40000 ALTER TABLE `allocation_approvedteam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_coordinator_login`
--

DROP TABLE IF EXISTS `allocation_coordinator_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_coordinator_login` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `name` varchar(80) NOT NULL,
  `password` varchar(80) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_coordinator_login`
--

LOCK TABLES `allocation_coordinator_login` WRITE;
/*!40000 ALTER TABLE `allocation_coordinator_login` DISABLE KEYS */;
INSERT INTO `allocation_coordinator_login` VALUES (1,'20001','ZZZ','20001');
/*!40000 ALTER TABLE `allocation_coordinator_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_mentor`
--

DROP TABLE IF EXISTS `allocation_mentor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_mentor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `name` varchar(80) NOT NULL,
  `primary_domain` varchar(80) NOT NULL,
  `experience` int NOT NULL,
  `alternative_domains` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_mentor`
--

LOCK TABLES `allocation_mentor` WRITE;
/*!40000 ALTER TABLE `allocation_mentor` DISABLE KEYS */;
INSERT INTO `allocation_mentor` VALUES (4,'10001','Suresh Kumar','AIML',4,''),(7,'10003','Suriya','CYS',5,''),(13,'10002','Gnanavel','BW',6,'');
/*!40000 ALTER TABLE `allocation_mentor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_mentor_login`
--

DROP TABLE IF EXISTS `allocation_mentor_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_mentor_login` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `name` varchar(80) NOT NULL,
  `password` varchar(80) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_mentor_login`
--

LOCK TABLES `allocation_mentor_login` WRITE;
/*!40000 ALTER TABLE `allocation_mentor_login` DISABLE KEYS */;
INSERT INTO `allocation_mentor_login` VALUES (1,'10001','Suresh Kumar','10001'),(2,'10002','Gnanavel','10002'),(3,'10003','Suriya','10003'),(4,'10004','Lathika','10004'),(5,'10005','Jayashree','10005');
/*!40000 ALTER TABLE `allocation_mentor_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_modifyrequest`
--

DROP TABLE IF EXISTS `allocation_modifyrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_modifyrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `project_title` varchar(200) NOT NULL,
  `student_class` varchar(50) NOT NULL,
  `domain` varchar(100) NOT NULL,
  `members` varchar(300) NOT NULL,
  `member_names` varchar(300) NOT NULL,
  `change_type` varchar(100) NOT NULL,
  `requested_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_modifyrequest`
--

LOCK TABLES `allocation_modifyrequest` WRITE;
/*!40000 ALTER TABLE `allocation_modifyrequest` DISABLE KEYS */;
INSERT INTO `allocation_modifyrequest` VALUES (25,'Cloud Management','CSE-B','CD','24UCS201,24UCS210,24UCS206,24UCS219','Kavin,Nithya,Vinoth,Gobi','Project Title, Domain','2025-11-07 08:16:15.458093');
/*!40000 ALTER TABLE `allocation_modifyrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_projectdocument`
--

DROP TABLE IF EXISTS `allocation_projectdocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_projectdocument` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_name` varchar(200) NOT NULL,
  `review_stage` varchar(50) NOT NULL,
  `doc_type` varchar(20) NOT NULL,
  `file_url` varchar(500) NOT NULL,
  `uploaded_by` varchar(100) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_projectdocument`
--

LOCK TABLES `allocation_projectdocument` WRITE;
/*!40000 ALTER TABLE `allocation_projectdocument` DISABLE KEYS */;
INSERT INTO `allocation_projectdocument` VALUES (1,'Team Alpha','zeroth','abstract','https://res.cloudinary.com/demo/image/upload/sample.pdf','student1','2026-01-21 05:34:51.390135');
/*!40000 ALTER TABLE `allocation_projectdocument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_projectfile`
--

DROP TABLE IF EXISTS `allocation_projectfile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_projectfile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_name` varchar(200) NOT NULL,
  `review_type` varchar(20) NOT NULL,
  `file_type` varchar(20) NOT NULL,
  `cloudinary_url` varchar(200) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_projectfile`
--

LOCK TABLES `allocation_projectfile` WRITE;
/*!40000 ALTER TABLE `allocation_projectfile` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_projectfile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_stu_login`
--

DROP TABLE IF EXISTS `allocation_stu_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_stu_login` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `password` varchar(80) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_stu_login`
--

LOCK TABLES `allocation_stu_login` WRITE;
/*!40000 ALTER TABLE `allocation_stu_login` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_stu_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_student`
--

DROP TABLE IF EXISTS `allocation_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_student` (
  `student_id` varchar(10) NOT NULL,
  `name` varchar(50) NOT NULL,
  `cgpa` decimal(4,2) NOT NULL,
  `clas` varchar(50) NOT NULL,
  PRIMARY KEY (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_student`
--

LOCK TABLES `allocation_student` WRITE;
/*!40000 ALTER TABLE `allocation_student` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_team`
--

DROP TABLE IF EXISTS `allocation_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_team` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `project_title` varchar(100) NOT NULL,
  `student_class` varchar(50) NOT NULL,
  `domain` varchar(100) NOT NULL,
  `members` longtext NOT NULL,
  `member_names` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `project_title` (`project_title`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_team`
--

LOCK TABLES `allocation_team` WRITE;
/*!40000 ALTER TABLE `allocation_team` DISABLE KEYS */;
INSERT INTO `allocation_team` VALUES (6,'Security Management','CSE-B','CYS','24UCS212,24UCS205,24UCS203','Omar,Srinithi,Aarthi','2025-10-14 03:48:33.388955'),(7,'Cloud Management','CSE-B','CD','24UCS201,24UCS210,24UCS206,24UCS219','Kavin,Nithya,Vinoth,Gobi','2025-10-17 06:52:51.056744'),(8,'Ai Image Processing','CSE-B','AIDS','24UCS208,24UCS220,24UCS215','Priya,Lakshmi,Meena','2025-10-17 08:44:18.934181');
/*!40000 ALTER TABLE `allocation_team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocation_zerothreviewremark`
--

DROP TABLE IF EXISTS `allocation_zerothreviewremark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocation_zerothreviewremark` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_name` varchar(255) NOT NULL,
  `mentor_name` varchar(255) NOT NULL,
  `heading` varchar(255) NOT NULL,
  `remark` longtext NOT NULL,
  `color` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_zeroth_review_remark` (`team_name`,`mentor_name`,`heading`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocation_zerothreviewremark`
--

LOCK TABLES `allocation_zerothreviewremark` WRITE;
/*!40000 ALTER TABLE `allocation_zerothreviewremark` DISABLE KEYS */;
/*!40000 ALTER TABLE `allocation_zerothreviewremark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-31 11:22:31
